body {
	background: rgb(217, 217, 217);
	margin: 0;
	font-family:helvetica;
}

#container {
	width: 750px;
	margin: 0 auto;
	background: white;
	padding: 15px;
}

header, footer {
	background:#09ca9f;
	color:white;
	text-align:center;
	font-size:25px;
}

h1 {
	text-align: center;
	font-size:25px;
	color: white;
	padding: 25px 0px;
	margin: 0;
}

#list {
	text-align: center;
	padding:20px 0;
}

#list p{
	display:inline;
	padding:10px;
	font-weight: bold;
}

.locations {
	margin-bottom:28px;
}

.locations h1{
	color:black;
}

#maui, #aspen {
	background:#c4defc;	
}

#reykjavik {
	background:#c2f2e3;
}

.img-div {
	text-align:center;
}

p {
	padding:0 27px 30px 27px;
}

footer {
	padding:25px;
}