body {
  background-color:#ebebe0;
  font-family:'Raleway', sans-serif;
  margin:0;
}

/*Header Styles*/

header {
	width:100%;
}

h1 {
	padding:20px;
  float:left;
  margin:0;
  font-family:'Dawning of a New Day', cursive;
  font-size:50px;
}

h1 a:hover {
  color:#4b78b3;
}

a {
    text-decoration:none;
    color:black;
}

.top-nav {
  float:right;
  padding:20px;
  margin:0;
  display:flex;
}

li.nav-item {
  display:inline;
  font-family:'Dawning of a New Day', cursive;
  font-size:32px;
  padding:0 40px;
  cursor:pointer;
}

li.nav-item:hover {
  color:#4b78b3;
}

li.nav-item a:hover {
  color:#4b78b3;
}

#slideshow {
  clear:both;
}

#slideshow img {
  width:100%;
  height:700px;
}

#wrapper {
  margin-top:750px;
  clear:both;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
}

.topic {
  margin:20px;
}

.topic:hover {
  background-color:#cdcdb1;
}

.topic-header {
  text-align:center;
  font-size:38px;
  text-transform:uppercase;
}

.topic-img {
  border:solid 5px black;
  height:300px;
  width:300px;
}

#map {
  width:450px;
  height:450px;
  margin:20px;
}

/*List and Review Section Styles*/

#container {
  margin:20px;
  width:50%;
}

.list h3 {
  font-size:28px;
}

ul.list-class {
  padding-left:0;
}

.list-class li{
  list-style:none;
  font-size:18px;
  padding:2px;
}

.featured a{
  color:#4b78b3;
}

#container {
  display:flex;
  margin-top:20px;
}

/*Footer Styles*/

footer {
  text-align:center;
  font-family:'Dawning of a New Day', cursive;
  font-size:24px;
  border-top:solid 1px;
  clear:both;
  margin-top:10px;
}

footer p {
  margin:5px;
}

/*Other Page Styles*/

.list-item a:hover{
  color:#4b78b3;
}

@media screen and (max-width: 1000px) {

  h1 {
    float:none;
    text-align:center;
    width:100%;
    padding:0;
  }

  .top-nav {
    float:none;
    width:100%;
  }

  ul {
    width:100%;
    margin:0;
    padding:0;
  }

  li {
    display:block;
    text-align:center;
    font-family:'Raleway', sans-serif;
    text-transform:uppercase;
    padding:5px;
  }
}