body {
  background-color:#ebebe0;
  font-family:'Raleway', sans-serif;
}

/*Header Styles*/

header {
	width:100%;
}

h1 {
	padding:20px;
  float:left;
  margin:0;
  font-family:'Dawning of a New Day', cursive;
  font-size:50px;
}

.top-nav {
  float:right;
  padding:20px;
  margin:0;
  display:flex;
}

li {
  display:inline;
  font-family:'Dawning of a New Day', cursive;
  font-size:32px;
  padding:0 40px;
  cursor:pointer;
}

li:hover {
  color:#4b78b3;
}

#slideshow {
  clear:both;
}

#slideshow img {
  width:100%;
  height:700px;
}

#wrapper {
  margin-top:750px;
  clear:both;
  width:75%;
  float:left;
}

.topic {
  clear:both;
  overflow:hidden;
  margin:5px 10px;
}

.topic:hover {
  background-color:#cdcdb1;
}

.topic-header {
  text-align:center;
  font-size:38px;
  text-transform:uppercase;
}

aside {
  width:23%;
  float:right;
  padding:15px;
  box-sizing: border-box;
  margin-top:750px;
  border-left:dotted 2px #4b78b3;
}

.topic-img {
  border:solid 5px black;
  margin:0 20px;
}

#libation-img {
  float:right;
}

#coffee-img, #eats-img {
  float:left;
}

#coffee-map, #libations-map, #eats-map {
  clear:all;
  height:100%;
  width:400px;
  height:400px;
  margin:20px;
}