body {
  background-color:#ebebe0;
  font-family: 'Raleway', sans-serif;
}

header {
	width:100%;
}

h1 {
	padding:20px;
  float:left;
  margin:0;
  font-family: 'Dawning of a New Day', cursive;
  font-size:50px;
}

.top-nav {
  float:right;
  padding:30px;
  margin:0;
}

.dropdown {
  display:inline;
  font-family: 'Dawning of a New Day', cursive;
  font-size:32px;
  padding:0 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a{
  display:block;
}

a {
  text-decoration:none;
  color:black;
}

a:hover {
  color:#4b78b3;
}

#slideshow {
  clear:both;
}

#slideshow img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}

#wrapper {
  margin-top:750px;
  clear:both; 
}

#map {
  height: 100%;
  width:400px;
  height:400px;
}